@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --cor-primaria: #3A98B9;
    --cor-secundaria: #FFF1DC;
    --cor-terciaria: #E8D5C4;
    --cor-quartenaria: #053d52;
    --cor-hover: #E8D5C4;

    --font-primaria:'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: linear-gradient(to right , var(--cor-primaria), var(--cor-quartenaria));
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__habilidades {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.apresentacao__conteudo__divDois {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 7.5%;
}

.apresentacao__conteudo__divDois {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__subtitulo {
    font-size: 1.75rem;
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.apresentacao__conteudo__lista {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    margin-left: 3%;
}

.imagem__habilidades {
    width: 30%;
}

.termo {
    font-size: 0.75rem;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.rodape { 
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        align-items: center;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__conteudo__habilidades {
        width: auto;
    }
}

@media (max-width: 640px) {
    .cabecalho__menu {
        flex-direction: column;
        align-items: center;
    }
}